tornado==2.4.1
gunicorn==0.17.2
wsgiref==0.1.2
#uWSGI==1.4.4

tornado-rest-handler==0.0.4

mongoengine==0.7.9
pymongo==2.4.2

redis==2.7.2

#rq==0.3.7
git+git://github.com/nvie/rq.git#egg=rq

#rq-dashboard==0.3.1
git+git://github.com/nvie/rq-dashboard.git#egg=rq-dashboard

#rq-scheduler==0.3.5
git+git://github.com/ui/rq-scheduler.git#egg=rq-scheduler

bottle==0.11.6
#git+git://github.com/tnm/redweb.git#egg=redweb

newrelic==1.10.0.28

simplejson==3.0.7
jsonpickle==0.4.0
#git+git://github.com/paulocheque/jsonpickle.git#egg=jsonpickle
