tornado==3.1.1
gunicorn==0.17.2
wsgiref==0.1.2
#uWSGI==1.4.4
#bottle==0.11.6

python-dateutil==2.1
requests==2.2.1
six==1.4.1

mongoengine==0.8.7
pymongo==2.6.3
pillow==2.3.0

redis==2.8.0
#rq==0.3.11
git+git://github.com/nvie/rq.git#egg=rq

flask==0.10.1
#rq-dashboard==0.3.3
git+git://github.com/nvie/rq-dashboard.git#egg=rq-dashboard

#rq-scheduler==0.3.6
git+git://github.com/ui/rq-scheduler.git#egg=rq-scheduler

simplejson==3.3.0
jsonpickle==0.6.1
#git+git://github.com/paulocheque/jsonpickle.git#egg=jsonpickle

py-social==0.1.7

newrelic==2.10.1.9
sendgrid==0.2.5
fabric==1.8.1
