{% extends "../base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Login <small></small></h1>
  </div>
  {% if current_user is None %}
        <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
        <h2>Social login</h2>

        <a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fa fa-facebook-square"></i> Login with Facebook</a>

        <a href="/auth/google" class="btn btn-primary btn-block"><i class="fa fa-google-plus-square"></i> Login with Google</a>

        <h2>Default login</h2>

        <form class="form form-horizontal" role="form" action="/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" type="text" placeholder="Email" class="form-control input-lg" required="" autofocus>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Password" class="form-control input-lg" required="">
          </div>
          <button type="submit" class="btn btn-primary pull-right">Login in</button>
        </form>

        <h2>Not registered?</h2>
        <a href="/register" class="btn btn-primary">Register</a>
      </div>
      <div class="col-lg-3"></div>
      </div>
  {% else %}
      <p>You are logged in</p>
  {% end %}
{% end %}


{% block js %}
    <script language="JavaScript">
    $(document).ready(function() {
    });
  </script>
{% end %}
