{% extends "../base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Registration <small>(new account)</small></h1>
  </div>
  {% if current_user is None %}
      <form id="form-create" class="form-create form" role="form" action="/register" method="POST">
          <div class="form-group">
              <label for="email">Email</label>
              <input id="email" name="email" type="email" placeholder="email@dns.com" class="input-xlarge form-control" required="" autofocus/>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input id="password" name="password" type="password" placeholder="" class="input-xlarge form-control" required="" autocomplete="off"/>
          </div>
          <button type="submit" class="btn btn-primary" style="vertical-align: bottom;">Sign up</button>
      </form>
      <div class="control-group">
          <label class="control-label"></label>
          <div class="controls">
            <button type="button" id="btnRandomPassword" class="btn btn-info btn-inverse btnRandomPassword" onclick="">New Random Password</button>
            <input id="generated-password" class="input-xsmall generated-password"/>
          </div>
      </div>
  {% end %}
{% end %}


{% block js %}
    <script language="JavaScript">
    $(document).ready(function() {
        $("#btnRandomPassword").click(function() {
            var password = randomPassword(10, '#aA!');
            $("#password").val(password);
            $("#password").effect("highlight", {color:"#aaccff"}, 1000);
            $("#generated-password").val(password);
        });
        $("#btnRandomPassword").click();
    });
  </script>
{% end %}
