{% extends "../base.html" %}

{% block content %}
<div class="page-header">
  <h1>Account information <small>management</small></h1>
</div>

<div class='col-md-12'>
  <ul>
    {% if current_user.admin %}
    <li><b>Administrator</b></li>
    {% end %}
    <li>Email address: {{ current_user.email }}</li>
    <li>Registered on: {{ current_user.registered_on }}</li>
  </ul>
</div>

{% if not current_user.social %}
<div class='col-md-12'>
  <h2>Reset your password</h2>

  <form id="form-create" class="form-create form" role="form" action="/change_password" method="POST">
      <div class="form-group">
          <label for="current_password">Current Password</label>
          <input id="current_password" name="current_password" type="password" placeholder="" class="form-control input-lg" required="" autocomplete="off"/>
      </div>
      <div class="form-group">
          <label for="new_password">New Password</label>
          <input id="new_password" name="new_password" type="password" placeholder="" class="form-control input-lg" required="" autocomplete="off"/>
      </div>
      <button type="submit" class="btn btn-primary">Change password</button>
  </form>
  <div class="control-group">
      <label class="btnRandomPassword"></label>
      <div class="controls">
        <button type="button" id="btnRandomPassword" class="btn btn-info btn-inverse btnRandomPassword" onclick="">New Random Password</button>
        <input id="generated-password" class="input-xsmall generated-password"/>
      </div>
  </div>
</div>
{% end %}

{% end %}


{% block js %}
    {% if not current_user.social %}
    <script language="JavaScript">
    $(document).ready(function() {
        $("#btnRandomPassword").click(function() {
            var password = randomPassword(10, '#aA!');
            $("#new_password").val(password);
            $("#password").effect("highlight", {color:"#aaccff"}, 1000);
            $("#generated-password").val(password);
        });
        $("#btnRandomPassword").click();
    });
  </script>
  {% end %}
{% end %}
