{% extends "../base.html" %}


{% block content %}

<h1>List</h1>

<table id="table_objs" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>etc</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>etc</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
            <td>etc</td>
        </tr>
<!--         {% for obj in objs %}
        <tr>
            <td>{{ obj. }}</td>
            <td>{{ obj. }}</td>
            <td>{{ obj. }}</td>
        </tr>
        {% end %} -->
    </tbody>
</table>

{% end %}