<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
    </div>
    <div class="panel-body">
        <p>{{ SYSTEM_EMAIL }}</p>

        {% if GITHUB_ACCOUNT %}
        <a href="http://github.com/{{ GITHUB_ACCOUNT }}" class="img-rounded fa fa-github-square" target="_blank"></a>
        {% end %}

        {% if TWITTER_ACCOUNT %}
        <a href="http://twitter.com/{{ TWITTER_ACCOUNT }}" class="img-rounded fa fa-twitter-square" target="_blank"></a>
        {% end %}

        {% if FACEBOOK_ACCOUNT %}
        <a href="http://facebook.com/{{ FACEBOOK_ACCOUNT }}" class="img-rounded fa fa-facebook-square" target="_blank"></a>
        {% end %}

        {% if GOOGLE_PLUS_ACCOUNT %}
        <a href="https://plus.google.com/b/{{ GOOGLE_PLUS_ACCOUNT }}" class="img-rounded fa fa-google-plus-square" target="_blank"></a>
        {% end %}

        {% if SKYPE_ACCOUNT %}
        <a href="skype:{{ SKYPE_ACCOUNT }}?userinfo"><span class="img-rounded fa fa-skype"></span> Skype</a>
        {% end %}
    </div>
</div>