<nav class="navbar navbar-inverse navbar-bottom" role="navigation">
  <div class="container">
      <div class="row" style="height:50px;">
        <div class="col-lg-12 text-center">
          {% include "common/copyright.html" %}
        </div>
      </div>

      <div class="row" style="height:50px;">
        <div class="col-lg-4">
          {% include "ads/donation_panel.html" %}
        </div>

        <div class="col-lg-4">
          {% include "common/contact.html" %}
        </div>

        <div class="col-lg-4">
          {% include "common/about.html" %}
        </div>
    </div>
  </div>
</nav>