{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h3>Left items</h3>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Right items</h3>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
  </div>
</div>
{% end %}

{% block hero %}
  <div class="jumbotron">
    <p>
      {% if current_user is not None %}
        You're logged in as {{ current_user.email }}.
      {% else %}
        <h1>Welcome!</h1>
        <p>
          Yay
        </p>
        <p>
          Yay
        </p>
      {% end %}
    </p>
  </div>
{% end %}
