<h2>Address</h2>

<form id="form-address" class="form" role="form" action="" method="POST">
    <div class="form-group">
        <label for="zip_code">Zip Code</label>
        <input id="zip_code" name="zip_code" type="text" placeholder="" class="form-control input-lg"/>
    </div>
    <div class="form-group">
        <label for="xzip_code">Street</label>
        <input id="zip_code" name="zip_code" type="text" placeholder="" class="form-control input-lg"/>
    </div>
    <div class="form-group">
        <label for="number">Number/Floor/Complement</label>
        <input id="number" name="number" type="text" placeholder="" class="form-control input-lg"/>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input id="city" name="city" type="text" placeholder="" class="form-control input-lg"/>
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input id="state" name="state" type="text" placeholder="" class="form-control input-lg"/>
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input id="country" name="country" type="text" placeholder="" class="form-control input-lg"/>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
