<h2>Credit Card</h2>

<form id="form-credit-card" class="form" role="form" action="" method="POST">
    <div class="form-group">
        <label for="card_type">Card Type</label>
        <select id="card_type" name="card_type" required="" class="input-xs form-control">
            <option value="" selected="selected"> --- </option>
            <option value="visa">Visa</option>
            <option value="mastercard">Mastercard</option>
            <option value="diners">Diners</option>
            <option value="discover">Discover</option>
            <option value="elo">Elo</option>
            <option value="amex">American Express</option>
        </select>
    </div>

    <div class="form-group">
        <label for="card_number">Card Number</label>
        <input id="card_number" name="card_number" type="text" class="input-xs form-control" autocomplete="off" required="" placeholder="0000 0000 0000 0000"/>
    </div>

    <div class="form-group">
        <label for="cvc2">Código de segurança CVC2</label>
        <input id="cvc2" name="cvc2" type="text" class="input-xs form-control" autocomplete="off" required=""placeholder="000 3 dígitos atrás do cartão"/>
    </div>

    <div class="form-group">
        <label for="card_holders_name">Card Holders Name</label>
        <input id="card_holders_name" name="card_holders_name" type="text" class="input-xs form-control" autocomplete="off" required=""/>
    </div>

    <div class="form-group">
        <label for="exp_month">Mês de expiração</label>
        <select id="exp_month" name="exp_month" required="" class="input-xs form-control">
            <option value="" selected="selected"> --- </option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exp_year">Ano de expiração</label>
        <select id="exp_year" name="exp_year" required="" class="input-xs form-control">
            <option value="" selected="selected"> --- </option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
