<h2>Phone</h2>

<form id="form-phone" class="form" role="form" action="" method="POST">
    <div class="form-group">
        <label for="number">Number</label>
        <input id="number" name="number" type="text" placeholder="" class="form-control input-lg" required="" autocomplete="off"/>
    </div>
    <div class="form-group">
        <label for="reference">Reference</label>
        <select id="reference" name="reference" required="" class="input-small form-control">
            <option value="mobile" selected="selected">Mobile</option>
            <option value="home">Home</option>
            <option value="work">Work</option>
            <option value="skype">Skype</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
